page-scratchcode {
    .toolbar-background-md{
        background-color:orange;
    }
    .headerlogo{
        width:50%;
        // margin-left: 45px;
    }
    .headerSearch{
        font-size:30px;
    }
    .verifyBtn{
        background-color:orange;
    }
}
