page-profile {
.profilehead{
    background: orange;
    // height:270px;
    z-index: 1;
}
.profileContent{
    background: orange;
    height: 170px;
}
.toolbar-background.toolbar-background-md{
background: orange;
}
.profileicon{
    font-size: 100px;
  
}
.profilrmenubtn{
    // margin-bottom: 230px;
}
.profiletitle{
    margin-left: 68px;
    font-size: 25px;
    // margin-top: 7px;
    text-transform: capitalize;
    // margin-bottom: 23px;
}
.username{
    font-size:21px;
 
  
}
.profilemail{
   
    color: gray;
    font-size: 17px;
   
}
.profilemobile{
    color: gray;
    font-size: 17px;
}
.editIcon{
    // float:right;
    color:white;
    // margin-left:20px;
    font-size:25px;
}
}
