page-reward-points {
    .rewardcard{
        
    height: 250px;
    
    }
    .rewardthumsup{
        margin-bottom: 163px;
    }
    .rewaredfab{
        background: orange;
        width: 85px;
        height: 85px;
    }
    .rewardheader{
  height: 270px;
     background-color: orange; 
     z-index:1 !important;
    }
    .toolbar-background-md{
        background: orange;
    }

 .rewardFab{
    margin-bottom: 163px;
    left:45% !important;
 }

 .rewardFab  .fab-md{
    width: 80px;
    height: 80px;
    background-color:orange;
 }

 .rewardIcon{
    font-size: 45px;
    color: black;
    margin-bottom: 10px;
 }


    .rewardcard{
        height: 240px;
        width: 296px;
        margin-left: 38px;
    }
    .rewardhead{
        height: 251px;
        background: orange;
        z-index: 1;
    }
.trbl-pad{
    background-color: orange;
    height: 250px;
}
.rdponits_title{
    text-align: center;
    font-size: 27px;
    color: gray;
}
.title-color{
    font-size: 33px;
    text-align: center;
}
.rewarditem{
    margin-top: 90px;
}
.rewardbtn{
    // margin-left: 61px;
    margin-top: 17px;
     font-size: 19px !important;
    padding: 23px 65px 20px 60px !important;
    font-size: 20px;
    background:gray;
    float: center;
}
.rewardimg{
    height: 75px;
width: 105px;
margin-left: 74px;
}
.rewardp{
    font-size: 18px;
    text-align: center;
    margin-top: 11px;
}
.rewardh2{
    font-size: 20px;
    text-align: center;
    font-weight: 29px;
    font-weight: bold;
    margin-top: 9px;
}
.rewardh1{
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}
.fab.fab-md{
margin-bottom:163px; 
}
.redembtn{
        background: orange;
    margin-left: 133px;
}
   
}
